body, html{
    display: flex;
    background: linear-gradient(45deg, red, blue);
    background-repeat: space;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}