body,
html {
    height: 100%;
    margin: 0;
}

.chatCentral {
    color: aqua;
    text-align: center;
}


body {
    background-image: linear-gradient(120deg, blue 0%, red 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}