.Carrinho {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px 20px 10px 20px;


    background-color: #F3F2F2;

}

.Carrinho__lista {
    align-self: center;
    width: 100%;
}

.Carrinho__total {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.Carrinho__total .Descricao, .Total {
    display: flex;
    justify-content: space-between;
}

.Carrinho__total button {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background-color: #DBAC2C;

}